---
layout: page
title: Projects
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} | Nilesh Balu</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <header>
    <p>These are all the projects I have worked on. The list under each sub-heading is in reverse chronological order. <b>Click on either the image or the title to view a more detailed description.</b>
    </p>
  </header>

  <h1>Research/Industry</h1>
    <div class="projects-list">
      {% for project in site.projects %}
      <div class="project-item">
        <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
        <a href="{{ project.url }}">
          <img src="{{ project.image }}" alt="{{ project.title }}" width="30%">
        </a>
        <p>{{ project.description }}</p>
        <strong>Type:</strong> {{ project.type }}<br>
        <strong>Location:</strong> {{ project.location }}<br>
        <strong>Date:</strong> {{ project.Date }}
      </div>
      {% endfor %}
    <h1>Coursework</h1>
      {% for coursework in site.coursework %}
      <div class="coursework-item">
        <h2><a href="{{ coursework.url }}">{{ coursework.title }}</a></h2>
        <a href="{{ coursework.url }}">
          <img src="{{ coursework.image }}" alt="{{ coursework.title }}" width="30%">
        </a>
        <p>{{ coursework.description }}</p>
        <strong>Type:</strong> {{ coursework.type }}<br>
        <strong>Location:</strong> {{ coursework.location }}<br>
        <strong>Date:</strong> {{ coursework.Date }}
      </div>
      {% endfor %}
    </div>

  <!-- <footer>
    <p>Website by Nilesh Balu</p>
  </footer> -->
</body>
</html>
