<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <!-- CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Abril+Fatface&display=swap">
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/public/apple-touch-icon-144-precomposed.png' | relative_url }}">
  <link rel="icon" href="{{ '/public/favicon.ico' | relative_url }}">

  <script defer src="{{ '/script.js' | relative_url }}"></script>
</head>
