<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/images/profile.png" alt="Nilesh Balu" width="200" style="border-radius: 5%;">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <ul class="sidebar-nav-list">
        <li class="sidebar-nav-item">
          <a href="{{ site.baseurl }}#home" id="home-link" class="nav-link">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="{{ site.baseurl }}#projects" id="projects-link" class="nav-link">Projects</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="/attachments/CV.pdf" target="_blank">Curriculum Vitae</a>
        </li>
      </ul>
    </nav>

     <!-- Social Links Section -->
     <div class="sidebar-social">
      <ul class="sidebar-social-list">
        <li>
          <a href="https://www.linkedin.com/in/your-linkedin-id" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn" width="30">
          </a>
        </li>
        <li>
          <a href="https://github.com/your-github-id" target="_blank">
            <img src="/images/github.png" alt="GitHub" width="30">
          </a>
        </li>
        <li>
          <a href="mailto:nileshbalu892[at]gmail[dot]com" target="_blank">
            <img src="/images/email.png" alt="EMail" width="30">
          </a>
        </li>
      </ul>
    </div>

    <p>&copy; Last Updated: 20th Feb 2025</p>
  </div>
</div>
