<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/images/profile.png" alt="Nilesh Balu" width="200" style="border-radius: 5%;">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="#home" id="home-link">Home</a>
      <a class="sidebar-nav-item" href="#projects" id="projects-link">Projects</a>
      <a class="sidebar-nav-item" href="/attachments/CV.pdf">Curriculum Vitae</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
